/*
    #4977EB
    #3761A1
*/

/* CONSISTENCY */
body {
    margin: auto;
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
}
#wrapper {
    width: 100%;
    background-color: #efefef;
	min-width: 1200px;
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
}
header {
    background-color: #FFFFFF;
}
nav {
    margin: 0;
    padding: 1.5%;
    background-color: #002864;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
nav a {
    padding: 1.5%;
    color: #FFFFFF;
    text-decoration: none;
}
nav a:hover {
    padding: 1.5%;
    font-weight: 900;
   /* background-color: #001433;*/
    background-color: #001f4d;
}
main {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    padding-bottom: 8%;
    background-color: #FFFFFF;
    color: #000000;
}
h1, h2, h3, h4 {
    margin-top: 0;
    color: #002864;
}

#link {
    margin-top: 0;
    color: #002864; 
}

footer {
    margin: 0;
    padding: 1%;
    font-size: 80%;
    text-align: center;
    background-color: #002864;
    color: #FFFFFF;
}
footer a {
    text-decoration: none;
    color: #FFFFFF;
}
footer img {
    margin-top: 1%;
    padding: 1px;
    background-color: #ffffff;
}
/* CLASSES */
.about {
    text-align: left;
    margin-right: 400px;
}
.floatright {
        float: right;
		margin-left: 4em;

}
.about a {
    text-decoration: none;
    color: #3761A1;
}
.moreSpace {
    margin-bottom: 2%;
}
.link a {
    color: #3761A1; 
}
.link a:visited {
    text-decoration: none;
}


/* PORTFOLIO */
.portfolio {
    padding: 5px;
    height: 300px;
    width: 30%;
    margin: 30px;
    margin: auto;
    border: 2px solid #000000;
    background-color: #efefef;
}
#portfolioOne {
    float: left;
    width: 30%;
}
#portfolioTwo {
    float: right;
    width: 30%;
}
#portfolioThree {
    margin: auto;
    width: 30%;
}
#portfolioFour {
    float: left;
    width: 30%;
}
#portfolioFive {
    float: right;
    width: 30%;
}
#portfolioSix {
    margin: auto;
    width: 30%;
}
#groupOne {
    background-color: lightblue;
    padding: 2%;
    margin: 0;
}
#groupTwo {
    background-color: lightblue;
    padding: 2%;
}

/* TABLE */
table, th, td {
    border: 2px solid #3761A1;
    border-collapse: collapse;
}

thead td {
    text-align: center;
    font-weight: bold;
    font-size: 145%;
}
#leftTable {
    float: left;
    width: 47%;
}
#rightTable {
    margin-left: auto;
    width: 47%;
    margin-right: 0;
}
#tables {
    margin: auto;
}
tr td{
    padding: 5px 10px;
}
table tr:nth-child(odd) {
    background-color: #efefef;
}
th {
    background-color: #FFFFFF;
}

/*CONTACT*/
form {
     font-weight: bold;
     font-size: 110%;
} 
#form {
    background-color: #efefef; 
    margin: 0 10% 0 10%;
    padding: 5%;
    border: 4px solid #3761A1;
}
form label {
    font-size: 80%;
    float: left;
    width: 180px;
}
.tab {
    padding-left: 60px;
    width: 120px;
}
#reg {
    width: 500px;
}
fieldset {
    padding: 2.5% 5%;
}
.subbutton {
    text-align: right;
    background-color: #3761A1;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    width: 100px;
    height: 35px;
    font-family:Verdana, Arial, sans-serif;
    margin-right: auto;
}